@media screen and (max-width: 1400px) {
    /* modal elements */
    #leftSidebar {
        display: none;
    }
    #rightSidebar {
        width: 100%;
    }
    #nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: khaki;
        padding: 8px;
    }
    #modal-cont2 {
        height: 550px;
    }
    /* ui */
    header {
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
    }
    #topNav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #store {
        width: 45%;
    }
    #second {
        width: 35%;
    }
    .products {
        margin: 2px;
    }
    .item {
        margin: 2px;
    }
    #mainCont {
        width: 95%;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .video {
        width: 100%;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .VideoPlay {
        position: relative;
        bottom: 200px;
        left: 20px;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1200px) {
    /* modal elements */
    #leftSidebar {
        display: none;
    }
    #rightSidebar {
        width: 100%;
    }
    #nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: khaki;
        padding: 8px;
    }
    #modal-cont2 {
        height: 550px;
    }
    /* ui */
    header {
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
    }
    #topNav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #store {
        width: 45%;
    }
    #second {
        width: 35%;
    }
    .products {
        margin: 2px;
    }
    #sideshow {
        width: 100%;
    }
    #sideshow>img {
        width: 100%;
        height: 100%;
    }
    .item {
        margin: 2px;
    }
    #c {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #b {
        flex-direction: column;
    }
    #mainCont {
        width: 80%;
        margin: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #poster {
        display: none;
    }
    #productReviews {
        flex-direction: column;
    }
    .review {
        margin-top: 10px;
    }
    #videosCont {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    .video {
        text-align: center;
    }
    .VideoPlay {
        position: relative;
        top: 50%;
        left: -30%;
        transform: translate(-50%, -50%);
    }
    #features {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .feature {
        border-bottom: 1px solid #ccc;
    }
    #last {
        flex-direction: column;
    }
    #touch {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    footer {
        padding: 10px 30px 10px 30px;
    }
    #first {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #firstFooter {
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
}


/* 324 */

/* 400 */

/* 500 */

/* 768 */