* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Itim', Arial;
    user-select: text;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#topNav {
    background-color: #212121;
    color: #ccc;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    font-size: 13px;
}

#store {
    display: flex;
    padding: auto;
    padding-top: 8px;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
}

#miOptions {
    background: transparent;
    border: none;
    outline: none;
    color: #ccc;
}

#second {
    display: flex;
    justify-content: space-evenly;
    padding-top: 8px;
    width: 15%;
    height: 100%;
}

header {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 40px;
    left: 20%;
    z-index: 10;
    width: 60%;
    color: #838383;
    padding-top: 8px;
}

header>img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
}

#searchBar {
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 1px solid #bbbbbb;
}

#searchItem {
    border: none;
    outline: none;
    background: transparent;
    color: #616161;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.card {
    width: 400px;
    margin: 20px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6d6d6d;
    margin-top: 40px;
}

.line {
    width: 20%;
    height: 1px;
    background-color: #d3d3d3;
    margin: 20px;
}

.heading>p {
    font-size: 30px;
    font-weight: 200;
}

#mainCont {
    width: 1200px;
    margin: auto;
}

#item1 {
    width: 612px;
}

#a {
    display: flex;
}

#b {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#c {
    display: flex;
}

.products {
    margin: 2px;
}

.item {
    transition: 500ms ease-in-out;
    overflow: hidden;
}

.item:hover {
    box-shadow: 0 3px 6px 3px #999797;
}

.scale {
    transition: 500ms ease-in-out;
}

.scale:hover {
    transform: scaleY(1.02);
}

#hotAccessoris {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemCont {
    width: 300px;
    height: 300px;
    text-align: center;
    background-color: #fff;
    margin: 10px;
}

.img {
    height: 200px;
    width: 200px;
}

#cont1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#cont2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#otherItems {
    margin-left: 15px;
}

#links {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10xp 0 10px;
}

a {
    color: inherit
}

.active {
    color: #ff6c37;
    text-decoration: underline;
    text-decoration-color: red;
}

.active:hover {
    color: #ff6c37;
    text-decoration: underline;
    text-decoration-color: red;
}

#productReviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review {
    margin-right: 10px;
    margin-left: 10px;
    height: 350px;
    background-color: #fff;
}

.name {
    font-weight: 600;
    color: #616161;
    font-size: 13px;
}

.cost {
    color: #ff6700;
    font-weight: 600;
}

.about {
    padding: 20px;
}

.itemName {
    color: #616161;
    font-weight: 600;
}

.nameAndcost {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#videosCont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.video {
    text-align: center;
    width: fit-content;
}

.video>a {
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    color: #999999;
    background-color: #e4e4e4;
    opacity: 0.6;
    padding: 30px;
    font-size: 25px;
    border-radius: 50%;
}

.video>a:hover {
    opacity: 1;
}

.videoTitle {
    margin-top: 10px;
}

#features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    width: 100%;
    background-color: #fff;
    height: 60px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 50px;
    margin-right: 20px;
}

.color-grey {
    color: #ccc;
}

#last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}

#touch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input {
    margin-left: 40px;
    height: 30px;
    width: 200px;
}

#follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#followLinks {
    margin-left: 40px;
}

#followLinks>a {
    margin-left: 20px;
}

footer {
    background-color: #212121;
    color: #8c8c8c;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    flex-direction: column;
    padding-left: 100px;
    margin-top: 50px;
}

#first {
    display: flex;
    justify-content: space-evenly;
}

ul, li {
    word-break: break-all;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

li:hover {
    color: #fff;
    cursor: pointer;
}

#chat>p {
    font-size: 12px;
}

#chatBtn {
    border: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: #ccc;
    font-weight: 200;
    padding: 10px 20px;
    transition: 500ms ease-in-out;
}

#chatBtn:hover {
    background-color: #fff;
    color: #212121;
}

#Footer {
    width: 100%;
    border-top: 1px solid #616161;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
}

.modal {
    height: 100%;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
}

#logo>img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 30px;
}

#leftSidebar>img {
    width: 100%;
}

#rightSidebar {
    width: 80%;
}

#nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#linksDiv {
    width: 50%;
    color: #6d6d6d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-content {
    width: 400px;
    background-color: #fff;
    padding: 10px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 2px #ccc;
    border: none;
    padding: 10px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    position: fixed;
    top: 10%;
    right: 30%;
}

#header>h5 {
    font-size: 25px;
}

#header>h5:hover {
    cursor: pointer;
}

.active {
    text-decoration-color: #ff6700;
    text-decoration: underline;
}

#inputs {
    margin-top: 10px;
}

.inputField {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 10px;
}

.account {
    width: 100%;
    height: 50px;
    background-color: #fc6700;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fc6700;
    font-size: 20px;
}

#moreOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
}

#moreOptions>h3 {
    color: #ccc;
}

#signInIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin-top: 10px;
    font-size: 30px;
    color: #616161;
}

.orange {
    color: #fc6700;
}

#modal-cont2 {
    display: none;
    height: 650px;
}

#inputCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#countryCode {
    width: 10%;
}

#phoneNumber {
    width: 90%;
}

#verify {
    display: flex;
}

#verifyBtn {
    display: inline;
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 450px;
}

/* video modal */

.videoModal {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #5050509f;
    z-index: 20;
    display: none;
}

.videosContainer {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoModalCont {
    width: 90%;
    height: 90%;
    margin: auto;
}

.video {
    width: 80%;
    height: 80%;
    margin: auto;
}

.control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: #ffffff;
}

.close {
    background: transparent;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.close:hover {
    outline: none;
    color: #505050;
    background-color: #a0a0a0;
}

#videoCont2 {
    display: none;
}

#videoCont3 {
    display: none;
}